

  h1, h5, .icon-color {
    color:  #4f3b78;
  }
  .centerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    max-width: 100%;
  }
  .backgroundForm {
    
    background-image:linear-gradient(45deg,rgba(229, 217, 240, 0.87), #cecae2d5, #927fbfde,#432e6b);
    opacity:initial;
    width: 110vh;
    border-radius: 3vh;
  }

  .divLogin {
    margin: 10% 5% 10% 5%;

  }
  .divRegister {
    margin:  2%;
  }
  .marginImage {
    margin-top: 23% ;

  }
  .margin {
      margin: 10px;
  }

  .loginLabels {
    color: #3c2b58;   
  }
  .register--form-control {
    background-image: linear-gradient(45deg, #927fbfde,#573497);
    color: white !important;
    opacity: 0.8;
    border-radius: 5px 5px 5px 5px;
  }
  .registerLabels {
    color: #9a8caf;   
  }

  .link-color {
    color: #4f3b78 !important; 
  }
  .link-color:hover, .link-color:active {
    color: #351b68 !important;
  }

  .form-control:focus {
    border-color: #9c8dbb !important;
    
  }
 
  .btn-login {
    background-color: #4f3b78;
    color:#FFF;
    border-color: #363b4e;
  }
  .btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .btn-login:hover, .btn-login:focus, .btn-login:active, .btn-login.active, .open .dropdown-toggle.btn-login {
    background-color: #2f175f;
    color:#FFF;
    border-color: #31347B;
  }


   /*
    #c4bbf0 mas claro
    #927fbf
    #4f3b78
    #363b4e mas oscuro
  */
